.EmployeeMatches {
    text-align: center;

    h3 {
        width: 100%; 
        text-align: center; //center it
        margin-bottom: 4rem;
    }

    .matchesCard {
        margin: 0 auto; //center it
        width: 90%;
        margin-bottom: 2rem;

        h4 {
            font-size: .9rem;
        }
    }
}