@import "../../scss/variables.scss";

.LandingPage {
  h2 {
    width: 200px;
    text-align: center;
    margin-bottom: 7rem;
  }

  a {
    text-decoration: none;
  }
  img {
    padding: 1rem;
    width: 8rem;
  }
}
