@import "../../scss/variables.scss";

.CreateAccount {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  a {
    color: white;
  }
  h3 {
    text-align: center;
    height: 60px;
  }
  img {
    padding-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }
  .arrow {
    margin-bottom: 10rem;
  }
}
