.CreateAccountCompany {
    margin: 0 auto;
    width: 200px;
    margin-top: 10vh;
    form {
        h2 {
            width: 200px;
            text-align: center;
        }
        .loginInputGroup {
            margin-bottom: 1.5rem;
    
            label {
                display: block;
            }
    
            input {
            width:200px;
            border: none;
            border: 1px solid black;
            border-radius: 5px;
            box-sizing: border-box;
            }
        }
        button {
            width: 200px;
            border: none;
            height: 30px;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            margin-bottom: 3rem;
        }
    }
}