@import "../scss/variables.scss";

.profile {
  width: 100%;
  background: $linear-gradient;
  color: $text-darkgray;
  font-size: 1.3rem;
  min-height: calc(100vh + 25px);
  height: fit-content;

  .profileWrapper {
    width: 100%;
    position: relative;
    min-height: calc(100vh - 50px);
    top: 50px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    margin: 0 auto;

  }

  a {
    text-decoration: none;
    color: white;
  }
  .introduction {
    line-height: 1.5;
  }

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .back {
    background: whitesmoke;
    width: 100%;
    z-index: 0;
    padding: 2rem;
    margin-bottom: 2rem;
    h1 {
      margin-bottom: 1.5rem;
    }
    h2,
    h3 {
      margin-bottom: 0.5rem;
    }

    h1 {
      font: 1.3em sans-serif;
    }

    h2 {
      font: 0.8em sans-serif;
    }

    h3 {
      font: 0.8em sans-serif;
      text-align: left;
      border-top: 1px solid grey;
      padding-top: 1rem;
      margin-top: 1rem;
    }
  }
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  width: 90%;
  div {
    margin: 1rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .profile {
    height: calc(100vh - 50px);

    .profileWrapper {
      box-shadow: 0 0 10px 0 rgb(78, 78, 78);
      width: 70%;
    }
    img {
      height: 400px;
    }
  }
}