@import '../scss/variables.scss';

.profile {
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background: $linear-gradient;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }

    .backArrow {
        width: 100%;
        padding: 0 2rem;
    }

    .introduction {
        border-radius: 30px;
        line-height: 1.5;
    }

    img {
        width: 200px;
        max-height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }

    h1, h2, h3 {
        margin: 0.5rem;
    }

    h1{
        font: 1.3em sans-serif;
    }

    h2{
        font: 0.8em sans-serif;
    }

    h3 {
        font: 0.5em sans-serif;
        width: 200px;
        text-align: left;
    }
}
