* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.control {
  background-color: rgb(255, 255, 255);
  width: 20rem;
  height: 100vh;
  margin: auto;
  border-radius: 2.4rem;

  input {
    border-radius: 0.4rem;
    width: 18rem;
    height: 2rem;
    padding: 1rem 1rem;
  }
  input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }

  textarea {
    height: 5rem;
    width: 18rem;
    border-radius: 0.4rem;
  }
  textarea:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
  }
  select {
    padding: 0.3rem;
    margin-bottom: 1rem;
  }
  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
  .Form {
    padding-left: 1rem;
    label {
      display: block;
      padding: 2rem 1rem;
      font-size: 1.3rem;
    }
  }
  .error {
    color: crimson;
    position: absolute;
    padding: 0 1.3rem;
  }
  .arrow {
    padding-bottom: 1.4rem;
  }
}
