.card {
  background: linear-gradient(30deg, rgb(233, 129, 103), rgb(234, 184, 104));
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
