@import "../scss/variables.scss";
.card {
  background: $linear-gradient;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
